* {
    border: 1px dashed pink;
}

h1 {

	padding-bottom: 25px;
	text-decoration:underline;
color:red;
}

h2 {

	padding-top: 25px;
	padding-bottom: 25px;
	font-family:Garamond;
color:pink;
	}

	h4 {
	
	padding-top: 25px;
	padding-bottom: 25px;
color:blue;

h3 {
	padding-top: 25px;
	padding-bottom: 55px;
color:red;

}

#header {
	position: relative;
	top: -10px;
	border-top-left-radius: 25px;
	border-top-right-radius: 15px;
}

ul{
	list-style-type: none;
	position: fixed;
	margin: -40px;
}

li {
	display: inline;
	border: 5px solid #000000;
	color: #ffffff;
	padding: 20px;

}